<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
    />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../../resources/css/common/common.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../resources/css/talk/talk.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="commonWrap">
      <header class="header">
        <div class="headerInner">
          <div class="headerInfo">
            <button>
              <img
                width="349"
                height="46"
                class="logoImg"
                src="../../resources/images/logo/logo.svg"
                alt="logo"
              />
            </button>
            <div class="InfoBox">
              <button>Language</button>
              <button>Logout</button>
            </div>
          </div>
          <div class="headerMenu">
            <button class="menuBtn" id="mainBtn">
              <a href="/views/dashboard/main.html"> 대리점 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 제품관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> AS 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 앱 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 회원 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 알림 설정 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 이벤트 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html">레시피 관리</a>
            </button>
            <button class="menuBtn">
              <a href="/views/talk/talk.html">뷰넥스톡 관리</a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html">고객센터</a>
            </button>
          </div>
        </div>
      </header>
      <section class="content">
        <div class="contentInner">
          <div class="spaceBetween">
            <span class="labelSapn"> 뷰넥스톡 관리 </span>
            <div>
              <button class="talkTabButton active">뷰넥스톡 리스트</button>
              <button class="talkTabButton">베스트 뷰넥스톡</button>
              <button class="talkTabButton">블라인드 톡</button>
              <button class="talkTabButton">신고접수</button>
            </div>
          </div>
          <div class="talkDetailWrap">
            <p class="talkId">Beaunex001 홍길동</p>
            <p class="talkTitle">
              뷰넥스 12월 셋째주 | 퇴근하고나서 오늘도 마스크팩!
            </p>
            <div class="talkDetailInfoBox">
              <div>
                <img
                  src="../../resources/images/bg/talk/starActive.svg"
                  alt=""
                  width="28"
                  height="28"
                />
                <img
                  src="../../resources/images/bg/talk/starActive.svg"
                  alt=""
                  width="28"
                  height="28"
                />
                <img
                  src="../../resources/images/bg/talk/starActive.svg"
                  alt=""
                  width="28"
                  height="28"
                />
              </div>
              <div class="talkViewBox">
                <span>댓글:</span>
                <span class="vlewBlodSpan">999</span>
              </div>
              <div class="talkViewBox">
                <span>조회수:</span>
                <span class="vlewBlodSpan">999</span>
              </div>
            </div>
            <div class="TagWrap">
              <span class="tag"> #수분 </span>
              <span class="tag"> #영양 </span>
            </div>
            <div class="talkContent">
              저는 초등학교 시절부터 피부가 까무잡잡한 편이었어요. 트러블은 거의
              나지 않지만, 피부는 유난히 까만편인.. 연예인으로 치자면 설현같은
              피부였습니다. (설현 팬분들 죄송합니다.)그래서 저는 마스크팩을 고를
              때도 미백이 들어간 마스크팩들을 주고 골랐어요. 매일매일
              미백화장품을 바르는 효과라고 생각하면서 마스크팩을 한 듯 하네요.
              그 결과 개인적으로는 얼굴이 많이 환해졌다고 체감하고 있습니다.
              이제는 어딜 가도 피부가 까만편이라는 소리는 듣지 않는 피부가
              되었어요!저는 초등학교 시절부터 피부가 까무잡잡한 편이었어요.
              트러블은 거의 나지 않지만, 피부는 유난히 까만편인.. 연예인으로
              치자면 설현같은 피부였습니다. (설현 팬분들 죄송합니다.)그래서 저는
              마스크팩을 고를 때도 미백이 들어간 마스크팩들을 주고 골랐어요.
              매일매일 미백화장품을 바르는 효과라고 생각하면서 마스크팩을 한 듯
              하네요. 그 결과 개인적으로는 얼굴이 많이 환해졌다고 체감하고
              있습니다. 이제는 어딜 가도 피부가 까만편이라는 소리는 듣지 않는
              피부가 되었어요! 저는 초등학교 시절부터 피부가 까무잡잡한
              편이었어요. 트러블은 거의 나지 않지만, 피부는 유난히 까만편인..
              연예인으로 치자면 설현같은 피부였습니다. (설현 팬분들
              죄송합니다.)그래서 저는 마스크팩을 고를 때도 미백이 들어간
              마스크팩들을 주고 골랐어요. 매일매일 미백화장품을 바르는 효과라고
              생각하면서 마스크팩을 한 듯 하네요. 그 결과 개인적으로는 얼굴이
              많이 환해졌다고 체감하고 있습니다. 이제는 어딜 가도 피부가
              까만편이라는 소리는 듣지 않는 피부가 되었어요!저는 초등학교
              시절부터 피부가 까무잡잡한 편이었어요. 트러블은 거의 나지 않지만,
              피부는 유난히 까만편인.. 연예인으로 치자면 설현같은 피부였습니다.
              (설현 팬분들 죄송합니다.)그래서 저는 마스크팩을 고를 때도 미백이
              들어간 마스크팩들을 주고 골랐어요. 매일매일 미백화장품을 바르는
              효과라고 생각하면서 마스크팩을 한 듯 하네요. 그 결과 개인적으로는
              얼굴이 많이 환해졌다고 체감하고 있습니다. 이제는 어딜 가도 피부가
              까만편이라는 소리는 듣지 않는 피부가 되었어요!
            </div>
            <!-- 디자인요청 해야할거임  -->
            <div class="talkImgWrap">
              <img
                class="talkImg"
                src="../../resources//images/bg/common/logo.svg"
                alt=""
              />
              <img
                class="talkImg"
                src="../../resources//images/bg/common/logo.svg"
                alt=""
              />
              <img
                class="talkImg"
                src="../../resources//images/bg/common/logo.svg"
                alt=""
              />
              <img
                class="talkImg"
                src="../../resources//images/bg/common/logo.svg"
                alt=""
              />
              <img
                class="talkImg"
                src="../../resources//images/bg/common/logo.svg"
                alt=""
              />
            </div>
            <div class="ampleBtnWrap">
              <div class="ampleBox openBoxAni">
                <div class="labelInfo">
                  <span class="labelSpan"> 앰플 햠랑 </span>
                  <button onclick="toggleAmpleBox()">
                    <img
                      src="../../resources/images/bg/common/close.svg"
                      alt=""
                      width="32"
                      height="32"
                    />
                  </button>
                </div>
                <div class="ampleGraphWrap">
                  <div class="ampleGraphBox openBox">
                    <div class="ampleGraph">
                      <div class="innerValue">
                        <span class="innerValueLabel"> 50% </span>
                      </div>
                    </div>
                    <span class="ampleLabelSpan">수분</span>
                  </div>
                  <div class="ampleGraphBox">
                    <div class="ampleGraph">
                      <div class="innerValue">
                        <span class="innerValueLabel"> 50% </span>
                      </div>
                    </div>
                    <span class="ampleLabelSpan">영양</span>
                  </div>
                  <div class="ampleGraphBox">
                    <div class="ampleGraph">
                      <div class="innerValue">
                        <span class="innerValueLabel"> 50% </span>
                      </div>
                    </div>
                    <span class="ampleLabelSpan">탄력</span>
                  </div>
                  <div class="ampleGraphBox">
                    <div class="ampleGraph">
                      <div class="innerValue">
                        <span class="innerValueLabel"> 50% </span>
                      </div>
                    </div>
                    <span class="ampleLabelSpan">미백</span>
                  </div>
                  <div class="ampleGraphBox">
                    <div class="ampleGraph">
                      <div class="innerValue">
                        <span class="innerValueLabel"> 50% </span>
                      </div>
                    </div>
                    <span class="ampleLabelSpan">진정</span>
                  </div>
                </div>
                <div class="labelInfo" style="padding: 1rem 0">
                  <span class="labelSpan"> 장착 앰플 </span>
                </div>
                <div class="mountingAmpleeWrap">
                  <div class="mountingAmpleeDiv">
                    <span class="ampleLabelSpan">수분 : </span>
                    <span class="ampleLabelSpan mountingAmpleContent">
                      마이스킨팩 모이스쳐 에너지 앰플</span
                    >
                  </div>
                  <div class="mountingAmpleeDiv">
                    <span class="ampleLabelSpan">영양 : </span>
                    <span class="ampleLabelSpan mountingAmpleContent">
                      마이스킨팩 프로 뉴트리션 앰플
                    </span>
                  </div>
                  <div class="mountingAmpleeDiv">
                    <span class="ampleLabelSpan">탄력 : </span>
                    <span class="ampleLabelSpan mountingAmpleContent">
                      마이스킨팩 리프팅 부스터 앰플
                    </span>
                  </div>
                  <div class="mountingAmpleeDiv">
                    <span class="ampleLabelSpan"> 미백 : </span>
                    <span class="ampleLabelSpan mountingAmpleContent">
                      마이스킨팩 화이트닝 퍼팩트 앰플
                    </span>
                  </div>
                  <div class="mountingAmpleeDiv">
                    <span class="ampleLabelSpan"> 진정 : </span>
                    <span class="ampleLabelSpan mountingAmpleContent">
                      마이스킨팩 아쿠아 수딩 앰플
                    </span>
                  </div>
                </div>
                <button class="ampleBoxCloseBtn" onclick="toggleAmpleBox()">
                  CLOSE
                </button>
              </div>
              <button onclick="toggleAmpleBox()" class="ampleInfoBtn">
                앰플 정보
              </button>
            </div>
          </div>
          <div class="talkCommentWrap">
            <div class="labelInfo">
              <span class="labelSpan"> 작성된 댓글 </span>
            </div>
            <div>
              <div class="commentCard">
                <div class="commentSelectBoxWrap">
                  <input
                    class="commentCheckBox"
                    type="checkbox"
                    name="commentId"
                    value="1"
                    onclick="toggleCommentId(1)"
                  />
                </div>
                <div class="commentContentWrap">
                  <h2 class="commentId">BeauNex01</h2>
                  <p class="commentContent">
                    이벤트 참여합니다 적립금 적용되는것 확인하고 싶어요
                    회원가입도 했고 후기작성도 5개나 했습니다. 꼭 당첨되었으면
                    좋겠네요..!! 이벤트 참여합니다 적립금 적용되는것 확인하고
                    싶어요 회원가입도 했고 후기작성도 5개나 했습니다. 꼭
                    당첨되었으면 좋겠네요..!!
                  </p>
                </div>
                <div></div>
              </div>
              <div class="commentCard">
                <div class="commentSelectBoxWrap">
                  <input
                    class="commentCheckBox"
                    type="checkbox"
                    name="commentId"
                    value="1"
                    onclick="toggleCommentId(2)"
                  />
                </div>
                <div class="commentContentWrap">
                  <h2 class="commentId">BeauNex01</h2>
                  <p class="commentContent">
                    이벤트 참여합니다 적립금 적용되는것 확인하고 싶어요
                    회원가입도 했고 후기작성도 5개나 했습니다. 꼭 당첨되었으면
                    좋겠네요..!! 이벤트 참여합니다 적립금 적용되는것 확인하고
                    싶어요 회원가입도 했고 후기작성도 5개나 했습니다. 꼭
                    당첨되었으면 좋겠네요..!!
                  </p>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footerInner">
          <div class="footerLeftBox">
            <img
              height="20"
              src="../../resources/images/bg/common/logo.svg"
              alt=""
            />
            <span class="footerContent"
              >Copyright © BeauNex. All Rights Reserved.</span
            >
          </div>
          <div class="footerIconBox">
            <button>
              <img src="../../resources/images/bg/common/insta.svg" alt="" />
            </button>
            <button>
              <img src="../../resources/images/bg/common/facebook.svg" alt="" />
            </button>
            <button>
              <img src="../../resources/images/bg/common/blog.svg" alt="" />
            </button>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../resources/js/common/common.js"></script>
    <script src="../../resources/js/talk/talkDetail.js"></script>
  </body>
</html>
