<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
    />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../../resources/css/common/common.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="../../resources/css/dashboard/dashboard.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="commonWrap">
      <section class="header">
        <div class="headerInner">
          <div class="headerInfo">
            <button>
              <img
                width="349"
                height="46"
                class="logoImg"
                src="../../resources/images/logo/logo.svg"
                alt="logo"
              />
            </button>
            <div class="InfoBox">
              <button>Language</button>
              <button>Logout</button>
            </div>
          </div>
          <div class="headerMenu">
            <button class="menuBtn" id="mainBtn">
              <a href="/views/dashboard/main.html"> 대리점 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 제품관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> AS 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 앱 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 회원 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 알림 설정 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html"> 이벤트 관리 </a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html">레시피 관리</a>
            </button>
            <button class="menuBtn">
              <a href="/views/talk/talk.html">뷰넥스톡 관리</a>
            </button>
            <button class="menuBtn">
              <a href="/views/member/login.html">고객센터</a>
            </button>
          </div>
        </div>
    </div>
    <script src="../../resources/js/common/common.js"></script>
    <script src="../../resources/js/dashboard/dashboard.js"></script>
  </body>
</html>
