<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../../resources/css/member/login.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="login_container">
      <input type="text" placeholder="아이디" />
      <input type="text" placeholder="패스워드" />
      <button type="button"><a href="../dashboard/main.html">LOGIN</a></button>
      <div><input type="checkbox" />자동로그인</div>
      <p>비밀번호를 분실하셨습니까?</p>
      <p>관리자에게 문의 주세요. marketing@beaunex.net</p>
      <p>관리자에게 문의 주세요. marketing@beaunex.net</p>
      <p>관리자에게 문의 주세요. marketing@beaunex.net</p>
      <p>관리자에게 문의 주세요. marketing@beaunex.net</p>
    </div>
    <script src="../../resources/js/common/common.js"></script>
  </body>
</html>
